@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16 /16;
$line: 22 /16*1rem;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time:  200ms;
$short-time: $main-time / 1.618;
$loop-time:  $main-time*30;
$warp-time:  $main-time;

$spacing-xxs: $line*0.250;
$spacing-xs:  $line*0.375;
$spacing-s:   $line*0.500;
$spacing:     $line*1.000;
$spacing-l:   $line*1.500;
$spacing-xl:  $line*2.000;
$spacing-xxl: $line*2.500;
$hairline:    1px;

$y-size: 21;
$x-size: 21;
$map-scale: 0.01;
$board-fill-ratio: 100;
$board-height-ratio: $y-size/$x-size;

$x-unit: 100% / $x-size;
$y-unit: 100% / $y-size;

$star-count: 37;
$star-step:   1; // Also in space.js.coffee
$star-step-1: 2;
$star-step-2: 3;

$grid-border-width: 1px;

//
// Colors

$hue: 202;

$hue-opposite: $hue + (360/2);
$hue-analog:   $hue - (360/8);
$hue-analog-2: $hue + (360/8);
$hue-split:    $hue + (360/2) - (360/8);
$hue-split-2:  $hue + (360/2) + (360/8);
$hue-triad:    $hue + (360/3);
$hue-triad-2:  $hue + (360/3*2);
$hue-square:   $hue + (360/4);
$hue-square-2: $hue + (360/4*3);

$hue-bg:  $hue;
$hue-fg:  $hue-split-2;
$hue-alt: $hue-split;

$colorfulness: 1.0;

$dimmer:     hsl($hue-bg, 100%*$colorfulness, 05.6%);
$emphasizer: hsl($hue-fg, 100%*$colorfulness, 94.4%);

$background:    hsl($hue-bg,  50.0%*$colorfulness,  9.0%);
$body:          hsl($hue-fg,   9.0%*$colorfulness, 61.8%);
$alt-body:      hsl($hue-alt,  9.0%*$colorfulness, 61.8%);

$highlight:     hsl($hue-fg,  76.4%, 61.8%);
$alt-highlight: hsl($hue-alt, 76.4%, 61.8%);

$off-background: mix($emphasizer, $background,    14.6%);
$border:         mix($emphasizer, $background,    50.0%);

$aside:          mix($dimmer,     $body,          23.6%);
$alt-aside:      mix($dimmer,     $alt-body,      23.6%);

$strong:         mix($emphasizer, $body,          23.6%);
$alt-strong:     mix($emphasizer, $alt-body,      23.6%);

//
// Media queries

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";
@import "fonts";
@import "layout";

//
// Font families

html {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.size-0 { font-size: 0.813rem; line-height: $line*0.727272727; }
.size-1 { font-size: 1.000rem; line-height: $line*1.00; }
.size-2 { font-size: 1.236rem; line-height: $line*1.00; }
.size-3 { font-size: 1.382rem; line-height: $line*1.00; }
.size-4 { font-size: 1.618rem; line-height: $line*1.50; }
.size-5 { font-size: 2.150rem; line-height: $line*1.50; }
.size-6 { font-size: 2.618rem; line-height: $line*2.00; }
.size-7 { font-size: 4.236rem; line-height: $line*3.25; }

.lighter           { font-weight: 200; }
.light             { font-weight: 300; }
.medium            { font-weight: 400; }
.strong, strong, b { font-weight: 500; }
.stronger          { font-weight: 600; }
.strongest         { font-weight: 700; }

.all-caps   { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    color: mix($emphasizer, $highlight, 23.6%);
  }

  &:active {
    color: mix($dimmer, $highlight, 23.6%);
  }
}

.underlined {
  background-image: linear-gradient(currentcolor);
  background-size: 1px 1px;
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  text-shadow:
    1px 0 0  $background,
    -1px 0 0 $background
  ;

  &:hover,
  &:focus {
    background-image: none;
  }

  &:active,
  &.active {
    background-image: none;
    color: inherit;
  }
}

::selection {
  background: $highlight;
  color: $strong;
}

::placeholder {
  color: $aside;
}

//
// Root styles

* {
  transition-property: transform, opacity;
  transition-duration: $main-time;
  transition-timing-function: $main-easing;
}

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {

}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.game {
  perspective: 162vh;
  margin: 0;
}

.grid-container {
  width: $board-fill-ratio * 1vw;
  max-width: $board-fill-ratio * 1vh / $board-height-ratio;
  margin: auto;
  transition:
    transform $main-time $main-easing,
    opacity $short-time $main-easing,
    visibility 0ms linear $main-time
  ;
}

.map {
  opacity: 0;
  transform: scale(2);
  visibility: hidden;

  [data-view="map"] & {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition-delay: 0ms;
  }
}

.world {
  [data-view="fleet"] & {
    opacity: 0;
    transform: scale(2);
  }

  [data-view="map"] & {
    transform: scale($map-scale);
    opacity: 0;
  }
}

.grid {
  margin: auto;
  width: 100%;
  height: 0;
  padding-top: 100% * $board-height-ratio;
}

//
// Backdrop

.layers {
  [data-view="fleet"] & {
    transform: scale3d(1.09, 1.09, 1.09);
  }
}

.layer {
  will-change: transform, left, top;
  transform: translate3d(0,0,0);
  width: 100%;
  height: 100%;
  transition:
    transform $warp-time $main-easing
  ;
  background-size: 100% 100%;
}

//
// Entities

.entity {
  position: absolute;
  left: 50%; top: 50%;
  margin: auto;
  width:  $x-unit;
  height: $y-unit;
  will-change: transform, opacity;
  transform: translate3d(-50%, -50%, 0);
  transition:
    transform $warp-time $main-easing,
           opacity $short-time $main-easing $warp-time,
            filter $main-time $main-easing $warp-time,
    -webkit-filter $main-time $main-easing $warp-time,
  ;
}

.map-entity {
  pointer-events: all;
  cursor: pointer;

  &:hover {
    outline: 2px solid $alt-highlight;
  }

  .entity-model {
    min-width: 2px;
    min-height: 2px;
  }
}

.entity-name {
  opacity: 0;
  transition: opacity $main-time ease-in $main-time;

  .entity:hover & {
    opacity: 1;
    transition-timing-function: ease-out;
    transition-duration: $short-time;
    transition-delay: 0ms;
  }
}

//
// Rendering effects

.rendering-in {
  opacity: 0;
}

//
// Fleets

.fleet {

}

.fleet[data-player-fleet] {
  width:  $x-unit * $y-size;
  height: $y-unit * $y-size;
  transition-duration: $main-time;
  transform: translate3d(-50%, -50%, 0) scale(1/$y-size);

  [data-view="fleet"] & {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  [data-view="map"] & {
    transform: translate3d(-50%, -50%, 0) scale(1/$y-size * $map-scale);
  }
}

.fleet-model {
  margin: auto;
  width: 100%;
  height: 100%;
  transition: transform $warp-time*0.2 $main-easing;

  [data-player-fleet] & {
    .warp & {

    }
  }
}


.fleet-name {
  position: absolute;
  top: 61.8%; left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  white-space: nowrap;
  font-size: 0.75rem;
  transition: transform $main-time $main-easing;

  [data-view="fleet"] & {

  }
}

.ship {
  float: left;
  width: 33.333%;
  height: 50%;

  &:first-child {
    margin-left: 33.333 * 0.5%;
  }

  &:nth-child(3) {
    clear: left;
  }
}

.module {
  height: 33.333%;
  background: $strong;
}

//
// Stars

.star {

}

.star-model {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
  background: $strong;
  background-image: radial-gradient(circle, transparent 61.8%, hsla(0,0%,100%, 0.618));

  .map-entity & {

  }
}

.star-name {
  color: $strong;
  left: 100%;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1;
  transform: translateY(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: -0.05em;
  padding-left: 0.618em;
}

//
// Planets

.planet {

}

.planet-model {
  margin: auto;
  width:  100%;
  height: 100%;
  border-radius: 50%;
  background: $highlight;
  background-image:
    // radial-gradient(circle at 50% 9%, transparent 61.8%, hsla(0,0%,0%, 0.5)),
    // radial-gradient(circle at 50% 5.6%, transparent 61.8%, hsla(0,0%,0%, 0.5)),
    radial-gradient(circle at 50% 38.2%, darken($alt-highlight, 9%) 23.6%, transparent 23.6%)
  ;

  .map-entity & {
    width: 5.6%;
    height: 5.6%;
  }
}

.planet-name {
  color: $aside;
  left: 100%;
  font-weight: 500;
  line-height: 1;
  transform: translateY(-50%);
  white-space: nowrap;
  letter-spacing: 0.05em;
  word-spacing: -0.05em;
  padding-left: 0.618em;
}

//
// Loot

.loot {

}

.loot-model {
  margin: auto;
  background: $highlight;
  width: 10%;
  height: 10%;
}

//
// Fleet controls

.movement-controls {
  cursor: crosshair;

  [data-view="fleet"] & {
    display: none;
  }
}

.movement-pointer {
  width: 1px;
  height: 1px;
  background: $highlight;
  position: absolute;
  left: 50%; bottom: 50%;
  transform-origin: bottom;
  pointer-events: none;
  opacity: 1;
  will-change: opacity;
  transition: opacity $main-time $main-easing $short-time;

  [data-view="fleet"] & {
    opacity: 0;
    transition-delay: 0ms;
  }
}

button.move {
  cursor: crosshair;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: rgba($highlight, 0.236);
  background-repeat: none;
  // background-image: radial-gradient(circle at 50% 50%, $blue 23.6%, transparent 23.6%);
  opacity: 0;
  color: $strong;
  transition: opacity $short-time $main-easing;

  &:hover {
    opacity: 1;
  }

  &:active {
    border-color: transparent;
  }

  .warp & {
    opacity: 0;
  }
}

//
// Debug dialog

.debug-dialog {
  position: absolute;
  left: 61.8%; top: 61.8%;
  width: 261.8%;
  display: none;
  font-size: 0.75em;
  line-height: 1.382;

  [data-debug=true] & {
    display: block;
  }
}

.debug-line {
  white-space: nowrap;
}

//
// HUD

.hud {
  z-index: 10;
  text-align: center;
}

.views {
  padding: $line*0.5;
}

.button.button {
  text-transform: uppercase;
  font-weight: 500;
}

//
// Game header

.header {
  z-index: 10;
  padding: $line*0.5;
  text-align: left;
}

//
// Status

.status-bar {
  white-space: nowrap;
  text-align: center;
  padding: $line*0.5;

  span {
    margin-left: $line*0.5;
  }
}

//
// Cheats

.cheats {
  padding: $line*0.5;
}
