@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16/16;
$line: 1.382rem;

$y-size: 9;
$x-size: 17;
$board-fill-ratio: 100;
$board-height-ratio: $y-size/$x-size;

$x-unit: 100% / $x-size;
$y-unit: 100% / $y-size;

$star-count: 37;
$star-step:   1; // Also in space.js.coffee
$star-step-1: 2;
$star-step-2: 3;

$grid-border-width: 1px;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time: 300ms;
$short-time: 124ms;
$loop-time: $main-time*144;
$warp-time: $main-time*2;

//
// Colors

$hue: 45;
$hue-increment: 1.618;

$hue-1:  $hue + (360/$hue-increment) *  1;
$hue-2:  $hue + (360/$hue-increment) *  2;
$hue-3:  $hue + (360/$hue-increment) *  3;
$hue-4:  $hue + (360/$hue-increment) *  4;
$hue-5:  $hue + (360/$hue-increment) *  5;
$hue-6:  $hue + (360/$hue-increment) *  6;
$hue-7:  $hue + (360/$hue-increment) *  7;
$hue-8:  $hue + (360/$hue-increment) *  8;
$hue-9:  $hue + (360/$hue-increment) *  9;
$hue-10: $hue + (360/$hue-increment) * 10;
$hue-11: $hue + (360/$hue-increment) * 11;
$hue-12: $hue + (360/$hue-increment) * 12;
$hue-13: $hue + (360/$hue-increment) * 13;

$background:      #000;
$off-background:  hsl($hue-1, 38.2%, 14.6%);
$backdrop-color:  hsl($hue-5, 23.6%, 5.6%);

$bright: hsl($hue, 23.6%, 76.4%);
$body:   hsl($hue, 5.6%, 61.8%);
$dim:    hsl($hue, 3.4%, 50%);

$yellow: hsl($hue,   50%, 61.8%);
$orange: hsl($hue-8, 50%, 50%);
$red:    hsl($hue-3, 38.2%, 50.0%);
$blue:   hsl($hue-4, 50%, 60%);
$cyan:   hsl($hue-7, 38.2%, 50.0%);
$green:  hsl($hue-2, 23.6%, 50.0%);
$purple: hsl($hue-1, 50.0%, 66.6%);

$shadow: hsl($hue-1, 50%, 5.6%);
$border: hsl($hue-1, 9%, 41.4%);

$highlight: hsl($hue, 76.4%, 61.8%);
$purple-highlight: hsl($hue-1, 38.2%, 50%);
$blue-highlight: hsl($hue-4, 91%, 66.6%);

$shadow: hsla($hue-1, 50%, 5.6%, 0.236);

//
// Media queries

$xs2:  "#{317 / 16 * 1em}";
$xs:   "#{318 / 16 * 1em}";
$s:    "#{478 / 16 * 1em}";
$m:    "#{560 / 16 * 1em}";
$l:    "#{740 / 16 * 1em}";
$xl:   "#{960 / 16 * 1em}";
$xl2: "#{1100 / 16 * 1em}";
$xl3: "#{1200 / 16 * 1em}";
$xl4: "#{1400 / 16 * 1em}";
$xl5: "#{1700 / 16 * 1em}";
$xl6: "#{1900 / 16 * 1em}";
$xl7: "#{2300 / 16 * 1em}";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";
@import "fonts";

//
// Font families

html {
  font-family: "Fira Sans", sans-serif;
}

//
// Basic styles

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line / 1rem;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: hsla($hue-1, 100%, 61.8%, 0.5);
}

body {

}

a {
  color: $bright;
  text-decoration: none;

  &:hover {
    color: hsl($hue-3, 85.4%, 61.8%);
  }

  &:active {
    color: hsl($hue-4, 85.4%, 61.8%);
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: hsl($hue, 23.6%, 76.4%);
}

hr {
  border-color: hsl($hue-1, 9%, 23.6%);
}

code {
  color: hsl($hue-1, 14.6%, 61.8%);
}

::selection {
  background: hsl($hue-2, 91%, 61.8%);
}

::placeholder {
  color: hsl($hue, 9%, 50%);
}

.abs-all   { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

.abs-left   { position: absolute; top: 0; bottom: 0; left:  0; }
.abs-right  { position: absolute; top: 0; bottom: 0; right: 0; }

.abs-top    { position: absolute; left: 0; right: 0; top:    0; }
.abs-bottom { position: absolute; left: 0; right: 0; bottom: 0; }

.abs-top-left   { position: absolute; top: 0; left:  0; }
.abs-top-right  { position: absolute; top: 0; right: 0; }

.abs-bottom-left   { position: absolute; bottom: 0; left:  0; }
.abs-bottom-right  { position: absolute; bottom: 0; right: 0; }

.abs-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

.text-shadow,
.debug-dialog,
button.move {
  text-shadow:
     1px  1px 1px rgba(#000, 0.5),
    -1px -1px 1px rgba(#000, 0.5),
    -1px  1px 1px rgba(#000, 0.5),
     1px -1px 1px rgba(#000, 0.5),
     0px -1px 1px rgba(#000, 0.5),
     0px  1px 1px rgba(#000, 0.5),
    -1px  0px 1px rgba(#000, 0.5),
     1px  0px 1px rgba(#000, 0.5)
  ;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.game {
  perspective: 162vh;
  margin: 0;
}

.grid-container {
  width: $board-fill-ratio * 1vw;
  max-width: $board-fill-ratio * 1vh / $board-height-ratio;
  margin: auto;
}

.grid {
  margin: auto;
  width: 100%;
  height: 0;
  padding-top: 100% * $board-height-ratio;
  transition: transform $main-time $main-easing;

  .zoomed-in & {
    transform: scale($y-size);
  }

  // background-image:
  //   radial-gradient( ellipse closest-side, transparent 0%, transparent 76.4%, $backdrop-color 100% ),
  //   linear-gradient(        rgba($bright, 0.056) 1px, transparent 1px ),
  //   linear-gradient( 90deg, rgba($bright, 0.056) 1px, transparent 1px ),
  // ;
  // background-position: center center;
  // background-size:
  //   100% 100%,
  //   $x-unit $y-unit,
  //   $x-unit $y-unit,
  // ;
}

//
// Backdrop

.layers {
  // animation: starSway $loop-time $loop-easing infinite;
  transition: transform $main-time $main-easing;

  .zoomed-in & {
    transform: scale3d(1.09, 1.09, 1.09);
  }
}

@keyframes starSway {
  0%, 100% {
    transform: translate3d(0,0,0);
  }
  25% {
    transform: translate3d(1.3%, 1.3%, 0);
  }
  50% {
    transform: translate3d(-1.3%, 1.3%, 0);
  }
  75% {
    transform: translate3d(-1.3%, -1.3%, 0);
  }
}

.backdrop-color {
  background-color: $backdrop-color;
}

.layer {
  will-change: transform, left, top;
  transform: translate3d(0,0,0);
  width: 100%;
  height: 100%;
  transition:
    all 0ms linear,
    transform $warp-time $main-easing
  ;
  background-size: 100% 100%;
}

.layer-left   { margin-left: -100vw; }
.layer-right  { margin-left:  100vw; }
.layer-top    { margin-top:  -100vh; }
.layer-bottom { margin-top:   100vh; }

.layer-top-left  { margin-top: -100vh; margin-left: -100vw; }
.layer-top-right { margin-top: -100vh; margin-left:  100vw; }

.layer-bottom-left  { margin-top: 100vh; margin-left: -100vw; }
.layer-bottom-right { margin-top: 100vh; margin-left:  100vw; }

.layer-1 {
  $layer-1-gradients: ();
  @for $i from 1 through $star-count {
    $layer-1-gradients: $layer-1-gradients, radial-gradient(circle $star-step*1px   at (random(100)*1% + random(100)/100*1%) (random(100)*1% + random(100)/100*1%), $dim 99%, transparent);
  }
  background-image: $layer-1-gradients;
}

.layer-2 {
  $layer-2-gradients: ();
  @for $i from 1 through $star-count/$star-step-1 {
    $layer-2-gradients: $layer-2-gradients, radial-gradient(circle $star-step-1*1px at (random(100)*1% + random(100)/100*1%) (random(100)*1% + random(100)/100*1%), $body 99%, transparent);
  }
  background-image: $layer-2-gradients;
}

.layer-3 {
  $layer-3-gradients: ();
  @for $i from 1 through $star-count/$star-step-2 {
    $layer-3-gradients: $layer-3-gradients, radial-gradient(circle $star-step-2*1px at (random(100)*1% + random(100)/100*1%) (random(100)*1% + random(100)/100*1%), $bright 99%, transparent);
  }
  background-image: $layer-3-gradients;
}

//
// Offsettable objects

.entity {
  pointer-events: none;
  position: absolute;
  left: 50%; top: 50%;
  margin: auto;
  width: $x-unit;
  height: $y-unit;
  will-change: transform, opacity;
  transform: translate3d(-50%, -50%, 0);
  transition:
    transform $warp-time $main-easing,
    opacity $main-time*2 $main-easing
  ;
}

//
// Fleets

.fleet {
  .warp & {

  }
}

.fleet-model {
  margin: auto;
  width: 100%;
  height: 100%;
  transform: scale(0.09);
  pointer-events: all;
}

[data-player-fleet] .fleet-model {
  cursor: zoom-in;

  .zoomed-in & {
    cursor: auto;
  }

  .warp & {
    // animation: warp $main-time $main-easing;
  }
}

// @keyframes warp {
//   0%, 100% { transform: scale(1) }
//   50% {      transform: scale(0); }
// }


.fleet-name {
  position: absolute;
  top: 61.8%; left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  white-space: nowrap;
  font-size: 0.75rem;
  transition: transform $main-time $main-easing;

  .zoomed-in & {
    // transform: translateX(-50%) scale(0.236);
  }
}

.ship {
  float: left;
  width: 33.333%;
  height: 50%;
  padding: 1px;

  &:first-child {
    margin-left: 33.333 * 0.5%;
  }

  &:nth-child(3) {
    clear: left;
  }
}

.module {
  height: 33.333%;
  background: $bright;
}

//
// Stars

.star {

}

.star-model {
  pointer-events: all;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  // box-shadow:
  //   // 0 0 10vmin currentcolor,
  //   // 0 0 6vmin currentcolor,
  //   // 0 0 4vmin currentcolor,
  // ;
  background-image: radial-gradient(circle, transparent 61.8%, hsla(0,0%,100%, 0.618));
}

.star-name {
  color: rgba($bright, 0.146);
  left: 100%;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  transform: translateY(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: -0.05em;
  padding-left: 0.618em;
}

//
// Planets

.planet {

}

.planet-model {
  pointer-events: all;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $blue;
  background-image:
    // radial-gradient(circle at 50% 9%, transparent 61.8%, hsla(0,0%,0%, 0.5)),
    // radial-gradient(circle at 50% 5.6%, transparent 61.8%, hsla(0,0%,0%, 0.5)),
    radial-gradient(circle at 50% 38.2%, darken($green, 9%) 23.6%, transparent 23.6%)
  ;
}

.planet-name {
  color: rgba($bright, 0.146);
  left: 100%;
  font-weight: 500;
  line-height: 1;
  transform: translateY(-50%);
  white-space: nowrap;
  letter-spacing: 0.05em;
  word-spacing: -0.05em;
  padding-left: 0.618em;
}

//
// Rendering effects

.rendering-in {
  opacity: 0;
}

//
// Fleet controls

.movement-controls {
  outline: 2px solid red;
}

.movement-pointer {
  width: 1px;
  height: 1px;
  background: $blue;
  position: absolute;
  left: 50%; bottom: 50%;
  transform-origin: bottom;
  pointer-events: none;
  opacity: 1;
  will-change: opacity;
  transition: opacity $main-time $main-easing $short-time;

  .zoomed-in & {
    opacity: 0;
    transition-delay: 0ms;
  }
}

button.move {
  cursor: crosshair;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: rgba($blue, 0.236);
  background-repeat: none;
  // background-image: radial-gradient(circle at 50% 50%, $blue 23.6%, transparent 23.6%);
  opacity: 0;
  color: $bright;
  transition: opacity $short-time $main-easing;

  &:hover {
    opacity: 1;
  }

  &:active {
    border-color: transparent;
  }

  .zoomed-in & { display: none; }
}

.zoom-out {
  position: absolute;
  left: $line*0.5; bottom: $line*0.5;
  display: none;

  .zoomed-in & { display: block; }
}

//
// Debug dialog

.debug-dialog {
  position: absolute;
  left: 61.8%; top: 61.8%;
  width: 261.8%;
  font-size: 0.625rem;
  display: none;

  .debug & {
    display: block;
  }
}

.debug-line {
  white-space: nowrap;
}

//
// Game header

.header {
  z-index: 10;
  padding: $line*0.5;
  font-size: 0.75rem;
}

//
// Cheats

.cheats {
  padding: $line*0.5;
}

button.button {
  font-size: 0.75rem;
  border: 1px solid currentcolor;
  padding: $line*0.125 $line*0.25;
  border-radius: $line*0.125;
  outline: none;

  &:hover {
    color: $green;
  }

  &:active {
    color: $bright;
  }
}
